@import '../../components/globalStyle.scss';

.container{
  // size
  width: 100%;
  margin-top: toRem(150);

  // flex
  display: flex;
  align-items: end;
  

  .mainImg{
    // size
    width: 60%;
  }
  .description{
    // margin
    margin-left: 2*$smallFontSize;
    // font
    font-size: $smallFontSize;
    .bold{
      font-weight: $bold;
    }
  }
}