@import '../../components/globalStyle.scss';

.container{
  // size
  width: 90%;
  padding-bottom: toRem(120);
  // center
  margin: 0 auto;

  
  .newsWrapper{
    // size
    width: 100%;

    // flex
    display: flex;
    flex-wrap: wrap;
  }

}