// Devmode
$devMode: false;
// $devMode: true;

// font-family
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
$regular: 400;
$medium: 500;
$bold: 700;


// px -> rem convt
@function toRem($value) {
  $remValue: ($value / 16) + rem; 
  @return $remValue;
}

// font-size
$smallFontSize: 1.2rem;
$bigFontSize: 2.1 * $smallFontSize;

// size
$sideWidth: 23%;
$sideMain: 77%;

// color
$mainColor: #0500FF;
$grayColor: #D9D9D9;
$brightgrayColor: #EFEFEF;

// global styles
body{
  font-family: 'IBM Plex Sans', sans-serif;
}

main{
  // position
  position: absolute;
  top: 0;
  left: $sideWidth;

  // size
  width: $sideMain;
  height: fit-content;

  @if $devMode{
    box-shadow: inset 0 0 0 2px orange;
  }

  // banner
  img{
    // size
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
}

.sideContainer{
  @if $devMode{
    box-shadow: inset 0 0 0 2px green;
  }
}

