@import '../../globalStyle.scss';

main{
  // position
  position: absolute;
  top: $headerHeight;
  left: $sideWidth;

  // size
  width: 100% - $sideWidth;
  min-height: 100vh - $headerHeight;
  min-width: 729px;
  overflow-x: auto;

  // flex
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  article{
    // size
    width: $articleWidth - 2*$articleHorizontalPadding;
    // center
    margin-left: $articleHorizontalPadding;

    .headerTitle{
      // size
      width: $articleWidth - 2*$articleHorizontalPadding;
      
      // center
      margin: 0 auto;
      text-align: center;

      // margin
      margin-top: toRem(50);
      margin-bottom: toRem(50);
  
      // font
      font-size: 1.11*$smallFontSize;
      letter-spacing: 0.3*$smallFontSize;
      font-weight: $bold;
    }
  }
}