@import '../../globalStyle.scss';

main{
  // position
  position: absolute;
  top: $headerHeight;
  left: $sideWidth;

  // size
  width: 100% - $sideWidth;
  min-height: 100vh - $headerHeight;

  // flex
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerTitle{
    // center
    display: block;
    margin: 0 auto;

    // margin
    margin-top: toRem(50);
    margin-bottom: toRem(40);

    // font
    font-size: 1.11*$smallFontSize;
    letter-spacing: 0.3*$smallFontSize;
    font-weight: $bold;
  }
  article{
    // size
    width: 100% - (2*$articleHorizontalPadding);
    margin: 0 auto;
  }
}