@import '../../globalStyle.scss';

.headerContainer{
  // position
  position: absolute;
  top: 0;
  left: 0;

  // size
  width: 100%;
  padding: 0 toRem(80);
  box-sizing: border-box;
  
  .wrapper{
    // flex
    display: flex;
    align-items: center;
    justify-content: space-between;

    // size
    padding-top: toRem(30);
    padding-bottom: toRem(20);
    box-sizing: border-box;
    
    // border
    border-bottom: #9F9F9F solid 2px;
    
    .logoLink{
      // size
      width: 20.08%;
      .logo{
        // size
        width: 100%;
      }
    }
  
    .snu{
      // size
      width: 5.32%;
    }
  }

}