@import '../../globalStyle.scss';

.sideContainer{
  // position
  position: fixed;
  top: $headerHeight;
  left: 0;

  // size
  width: $sideWidth - $mainHorizontalPadding;
  height: 100vh - $headerHeight;
  padding-left: $mainHorizontalPadding;
  min-width: 150px;

  // flex
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  // background
  background-color: white;
  z-index: 2;

  .navigatorContainer{
    // margin
    margin-top: toRem(50);
    padding-bottom: 3*$smallFontSize;

    .navWrapper{
      // flex
      display: flex;
      align-items: center;

      // margin
      margin-bottom: 1.8 * $smallFontSize;

      .arrow{
        // margin
        margin-right: $smallFontSize;
        // size
        height: $smallFontSize;
      } 

      .navItem{
        // font
        font-size: $smallFontSize;
        font-weight: $medium;

        color: black;
        text-decoration: none;

        // margin
        margin: 0;
      }
    }

    
  }
  .cc{
    // size
    height: $footerHeight;

    // font
    color: #AAAAAA;
    font-size: 0.75*$smallFontSize;
    
    // center
    display: flex;
    align-items: center;
    margin: 0 auto;
    
  }

}
