@import '../../globalStyle.scss';

.sideContainer{
  // position
  position: fixed;
  top: 16vh;
  left: 0;

  // size
  width: 15%;
  height: 84vh;
  margin-left: 3%;

  // flex
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border: 1px solid green;

  .navigatorContainer{
    // margin
    margin-top: toRem(50);
    padding-bottom: 3rem;

    .navWrapper{
      // flex
      display: flex;
      align-items: center;

      // margin
      margin-bottom: 1.8 * $smallFontSize;

      .arrow{
        // margin
        margin-right: $smallFontSize;
        // size
        height: $smallFontSize;
      } 

      .navItem{
        // font
        font-size: $smallFontSize;
        font-weight: $medium;

        color: black;
        text-decoration: none;

        // margin
        margin: 0;
      }
    }

    
  }
  .cc{
    // font
    color: #AAAAAA;
    font-size: 0.75*$smallFontSize;
    
    // center
    display: block;
    margin: 0 auto;
    
    // margin
    margin-bottom: toRem(50);
  }

}
